<!DOCTYPE html>
<html>
<head>
  <title>SeeTheBikeNYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <link rel="shortcut icon" href="http://icongal.com/gallery/image/5904/cycle_bike.png">
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=visualization" async defer></script>
</head>
<body>
<div id="nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "SeeTheBikeNYC", root_path, {class: "navbar-brand"} %>
    </div>
    <div class="collapse navbar-collapse">
      <p class="navbar-text navbar-right">Made with <i class="fa fa-heart"></i> in NYC by <a href="https://github.com/ryannyunn">@ryannyunn</a>. Check out the source code <a href="https://github.com/ryannyunn/seethebikenyc">here</a>!</p>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
