<!DOCTYPE html>
<html>
<head>
  <title>CitiBikeNYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&signed_in=true&libraries=visualization" async defer></script>
</head>
<body>

<%= yield %>

</body>
</html>
